<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>images/Enabled.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dopeteam.dopelock</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>images/dopelockGeneralListController.png</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>General Settings</string>
			<key>detail</key>
			<string>dopelockGeneralListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>images/dopelockMakersListController.png</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Makers</string>
			<key>detail</key>
			<string>dopelockMakersListController</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>images/showSupportEmailController.png</string>
			<key>action</key>
			<string>emailDev</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>© 2015 Ziph0n | Wizages | Buzzeh</string>
		</dict>
	</array>
	<key>title</key>
	<string>DopeLock</string>
</dict>
</plist>
